{% extends 'admin/home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<div class="course-header text-center">
    <h1 class="mb-3">{{ course.title }}</h1>
    <div class="price-badge">Edit</div>
</div>
<section class="articles-second">
    <form action="{% url 'app:course-edit' course.pk %}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            {{form | crispy}}
        </div>
        <button type="submit" class="btn btn-primary">Update Course</button>
    </form>
</section>
{% endblock %}
